<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halcyon.mapper.TProductMapper">
  <resultMap id="BaseResultMap" type="com.halcyon.entity.TProduct">
    <id column="tp_id" jdbcType="BIGINT" property="tpId" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="pimg" jdbcType="VARCHAR" property="pimg" />
    <result column="tid" jdbcType="BIGINT" property="tid" />
  </resultMap>
  <sql id="Base_Column_List">
    tp_id, pid, pname, price, pimg,tid
  </sql>

  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_product
  </select>

  <select id="selectByPids" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_product
    where pid in
      <foreach collection="list" index="index" item="pid" open="(" separator="," close=")" >
        #{pid,jdbcType=BIGINT}
      </foreach>
    order by field(pid,
      <foreach collection="list" index="index" item="pid" separator=",">
          #{pid,jdbcType=BIGINT}
      </foreach>
      )
  </select>




  <!--分页查询-->
  <select id="queryTwPage" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from t_product
    order by tp_id asc
    limit #{startRows,jdbcType=INTEGER},10
  </select>

  <!--分页查询用户-->
  <select id="selectTwPage" resultType="com.halcyon.entity.TProduct">
    select * from t_product
    <where>
      <if test="pname != null and pname !=''">
        and pname like concat('%', #{pname}, '%')
      </if>
      <if test="tid != null and tid!=''">
        and tid like concat('%', #{tid}, '%')
      </if>

    </where>
    order by tp_id asc
    limit #{startRows,jdbcType=INTEGER},10
  </select>

  <!--查询个数-->
  <select id="getRowCount" resultType="java.lang.Integer">
    select count(*) from t_product
    <where>
      <if test="pname != null and pname !=''">
        and pname like concat('%', #{pname}, '%')
      </if>
      <if test="tid != null and tid!=''">
        and tid like concat('%', #{tid}, '%')
      </if>
    </where>
  </select>

  <delete id="deleteTwById" parameterType="String">
    delete from t_product
    where tp_id = #{tpId,jdbcType=BIGINT}
  </delete>

  <!--根据 id 批量删除-->
  <delete id="deleteTwByIdList" parameterType="java.util.List">
    delete from t_product where tp_id in <foreach collection="list" item="item"  open="(" close=")" separator=","> #{item,jdbcType=VARCHAR}</foreach>
  </delete>

  <insert id="createTw" parameterType="com.halcyon.entity.TProduct">
    insert into t_product (tp_id, tid, pid,
      pname, price, pimg
      )
    values (#{tpId,jdbcType=BIGINT}, #{tid,jdbcType=BIGINT}, #{pid,jdbcType=BIGINT},
      #{pname,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, #{pimg,jdbcType=VARCHAR}
      )
  </insert>

<!--  <insert id="insertSelective" parameterType="com.halcyon.entity.TProduct">-->
<!--    insert into t_product-->
<!--    <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--      <if test="tpId != null">-->
<!--        tp_id,-->
<!--      </if>-->
<!--      <if test="tid != null">-->
<!--        tid,-->
<!--      </if>-->
<!--      <if test="pid != null">-->
<!--        pid,-->
<!--      </if>-->
<!--      <if test="pname != null">-->
<!--        pname,-->
<!--      </if>-->
<!--      <if test="pimg != null">-->
<!--        pimg,-->
<!--      </if>-->
<!--      <if test="price != null">-->
<!--        price,-->
<!--      </if>-->
<!--    </trim>-->
<!--    <trim prefix="values (" suffix=")" suffixOverrides=",">-->
<!--      <if test="tpId != null">-->
<!--        #{tpId,jdbcType=BIGINT},-->
<!--      </if>-->
<!--      <if test="tid != null">-->
<!--        #{tid,jdbcType=BIGINT},-->
<!--      </if>-->
<!--      <if test="pid != null">-->
<!--        #{pid,jdbcType=BIGINT},-->
<!--      </if>-->
<!--      <if test="pname != null">-->
<!--        #{pname,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="price != null">-->
<!--        #{price,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="pimg != null">-->
<!--        #{pimg,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--    </trim>-->
<!--  </insert>-->
  <update id="updateTwById" parameterType="com.halcyon.entity.TProduct">
    update t_product
    <set>
      <if test="tid != null">
        tid = #{tid,jdbcType=BIGINT},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=BIGINT},
      </if>
      <if test="pname != null">
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="pshelf != null">
        pimg = #{pimg,jdbcType=VARCHAR},
      </if>
    </set>
    where tp_id = #{tpId,jdbcType=BIGINT}
  </update>













  <select id="selectByPid" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_product
    where pid = #{pid,jdbcType=BIGINT}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_product
    where tp_id = #{tpId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_product
    where tp_id = #{tpId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.halcyon.entity.TProduct">
    insert into t_product (tp_id, pid, pname,
      price, pimg)
    values (#{tpId,jdbcType=BIGINT}, #{pid,jdbcType=BIGINT}, #{pname,jdbcType=VARCHAR},
      #{price,jdbcType=DECIMAL}, #{pimg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.halcyon.entity.TProduct">
    insert into t_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tpId != null">
        tp_id,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="pname != null">
        pname,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="pimg != null">
        pimg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tpId != null">
        #{tpId,jdbcType=BIGINT},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=BIGINT},
      </if>
      <if test="pname != null">
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="pimg != null">
        #{pimg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.halcyon.entity.TProduct">
    update t_product
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=BIGINT},
      </if>
      <if test="pname != null">
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="pimg != null">
        pimg = #{pimg,jdbcType=VARCHAR},
      </if>
    </set>
    where tp_id = #{tpId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.halcyon.entity.TProduct">
    update t_product
    set pid = #{pid,jdbcType=BIGINT},
      pname = #{pname,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      pimg = #{pimg,jdbcType=VARCHAR}
    where tp_id = #{tpId,jdbcType=BIGINT}
  </update>
</mapper>
